* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 100px;
  height: 115px;
  border-radius: 0px 0px 20px 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* position: fixed; */
}

.navbar img {
  width: 120px;
}

.navbar .button button {
  width: 108px;
  height: 45px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  font-style: normal;
  border-radius: 10px;
}

.navbar .login {
  color: #01213f;
  border-color: #01213f;
  background: #ffffff;
}

.navbar .sign-up {
  color: #ffffff;

  border: #0f6c85;
  background: #0f6c85;
}

nav li {
  display: inline;
  list-style-type: none;
  gap: 20px;
  align-content: center;
}
nav a {
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #6c6c6c;
}

/* end of navbar */

main {
  margin: 0 100px;
}


/* home*/

.home-main {
  display: flex;
  align-items: center;

  height: 500px;
}

.home-desc {
  width: 70%;
}
.home-service {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
}

.home-service img {
  height: 40px;
}

.home-headline {
  justify-content: flex-start;
}

.home-image {
  align-content: center;
  justify-content: flex-end;
}

.home-image img {
  display: flex;
  height: 353px;
}

.home-desc h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.01em;
  color: #01213f;
}

.home-desc .headline-text {
  margin-bottom: 20px;
}

.home-desc h1 span {
  color: #0f6c85;
}
.home-desc p {
  color: #918e8e;
  /* font-size: 22px; */
  margin-bottom: 20px;
}

.home-desc button {
  background: #00a0c8;
  border: #00a0c8;
  border-radius: 47px;
  height: 45px;
  width: 150px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;

  color: #ffffff;
}

.home-service {
  font-weight: 500;
}
/* end of home */

/* about us */
.about-desc h1{
 text-align: center;
 margin: 30px 0 50px 0;
}
.about-desc-content {
  display: flex;
 
}

.about-desc img {
  height: 25vw;
  
}

.about-image {
  width: 50%;
}

.about-desc-content .description{
 text-align: center;
 width: 50%;
 
}

.description p {
  margin-bottom: 20px;
}
/* end of about us */
